<li>
  <% pets.each do |pet| %>
    <ul>
      <%= pet.name %>
      <%= button_to "Adopt this Pet", pet_applications_create_path(:application_id => application.id, :pet_id => pet.id), method: :post %>
    </ul>
    <%= image_tag "#{pet.image}" %>
  <% end %>
</li>
